$base-button: #937dc2;
$base-accents: #8867ce;

$base-bg: #c689c6;
$accent-bg: #94bbe9;

$font-secondary: #2c3639;

// Light - white
$font-primary: #eaf6f6;
$bg-elements-light: #f9f9f9;
$submit-button: #5fd068;
$submit-button-disable: #3e8e44;
