$base-button: #937DC2;
$base-accents: #8867ce;


$base-bg: #C689C6;
$accent-bg: #94bbe9;


$font-primary: #EAF6F6;
$font-secondary: #2C3639;



$purple-default: #4C3A51;
$purple-50: #AA92B1;
$purple-100: #A186A8;
$purple-200: #8E6E97;
$purple-300: #795C81;
$purple-400: #624B69;
$purple-500: #4C3A51;
$purple-600: #2D2330;
$purple-700: #271E2A;
$purple-800: #211A24;
$purple-900: #1C151E;