$base-button: #937DC2;
$base-accents: #8867ce;


$base-bg: #C689C6;
$accent-bg: #94bbe9;


$font-secondary: #2C3639;

// Light - white
$font-primary: #EAF6F6;
$bg-elements-light: #F9F9F9;
$submit-button: #5FD068;