@use "../theme/_variables" as *;

.issues-headline {
  margin: 2rem 0;
  text-align: center;
}

.issues-main {
  height: 100vh;
  background-color: $bg-elements-light;
  border-radius: 5px 5px 0 0;
  padding: 1rem;
  box-shadow: 1px 2px 5px rgba(#000, 0.2);

  thead,
  tbody {
    text-align: center;
    tr {
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0rem;
      border-bottom: 1px dashed rgba($base-accents, 0.4);
      @media screen and (min-width: 1024px) {
        justify-content: flex-start;
        margin: 0 2rem;
      }
    }

    th,
    td {
      padding: 0;
      p {
        margin: 0;
      }
    }

    th {
      border: 1px solid rgba($base-accents, 0.3);
      border-right: 1px solid $base-accents;
      &:last-child,
      &:first-child {
        padding: 0 1.5rem;
      }
    }
  }
}

tbody {
  &:nth-child(odd) {
    background: rgba($accent-bg, 0.5);
  }
}

.mobile-hidden {
  @media screen and (max-width: 800px) {
    display: none;
  }
}

///
///

form {
  width: 100%;
  select,
  textarea {
    width: 100%;
    border: none;
    padding: 0.5rem;
    border-radius: 6px;
  }
  button {
    width: 100%;
    padding: 0.5rem 2rem;
    color: $font-primary;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .active {
    background: $submit-button;
  }
  .disable {
    background: $submit-button-disable;
  }
}

label {
  width: 100%;
  padding: 0.5rem 0.8rem;
  font-weight: 500;
  span {
    color: red;
  }
}

.info-msg {
  color: $font-secondary;
  padding: 0.4rem;
  margin: 1rem 0;
  text-align: center;
  border-radius: 2px;
  background: rgb(92, 175, 252);
}
.warn-msg {
  color: $font-secondary;
  padding: 0.4rem;
  margin: 1rem 0;
  text-align: center;
  border-radius: 2px;
  background: rgb(252, 204, 92);
}

.issue-form {
  width: 100%;
  display: flex;
  justify-content: center;
}
