@use "../theme/_variables" as *;

.avatar-section {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  padding: 0 2rem;
  align-items: flex-start;
}

.avatar-group {
  position: relative;
  display: inline-block;
}

.avatar {
  display: block;
  border-radius: 100%;
  padding: 0.3rem;
  max-width: 5.5rem;
  margin: auto;
}

.avatar-setting {
  position: absolute;
  top: 0px;
  right: -10px;
  width: 2.1rem;
  border-radius: 15%;
  color: white;
  cursor: pointer;
}

.user-box {
  margin: auto;
  width: 50%;

  form {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 600px) {
      width: 70%;
    }
  }

  span {
    font-weight: 700;
    color: red;
  }

  label,
  input {
    margin: 0.4rem 0;
    padding: 0.4rem;
  }

  input {
    border: none;
    background: $bg-elements-light;
    width: 100%;
    border-radius: 0.2rem;
  }
}

.form-button {
  button {
    background-color: $submit-button;
    color: $font-primary;
    font-size: medium;
    font-weight: 700;
    text-align: center;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin-top: 0.4rem;
  }
}

.sizes {
  padding: 2rem 0rem;
  justify-content: center;
  button {
    margin: 0.4rem;
    font-weight: 700;
    cursor: pointer;
    background: $base-button;
    border-radius: 0.5rem;
    min-height: 2.6rem;
  }
}

.headline-size {
  text-align: center;
  margin: 1.5rem 0;
  width: 100%;
}

.main-headline {
  text-align: center;
  color: $font-secondary;
}

.persons {
  ul {
    li {
      display: flex;
      justify-content: flex-start;
      line-height: 2rem;
      padding: 1.2rem;
      input {
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
      }
    }
  }
}
.persons-buttons {
  display: flex;
  justify-content: center;
  button {
    background: $base-button;
    border-radius: 2px;
    padding: 0.5rem;
    margin: 1.2rem 0.5rem;
  }
}

.settings-form {
  form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    label {
      padding: 1.5rem;
    }
    input {
      margin: 1rem 0rem;
      padding: 0.5rem 2rem;
      width: 100%;
    }
    button {
      background: $base-button;
      border-radius: 2px;
    }
  }
}

.persons-headline {
  text-align: center;
}
