@use "./sass/configuration/_reset";
@use "./sass/configuration/_googleFont";
@use "./sass/configuration/_elements";

@import "~bootstrap/scss/bootstrap";

*,
html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
}
